{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block extra_css %}
<style>
    body {
        background: linear-gradient(135deg, #e7e2e1 0%, #898088 100%);
    }

    .form-container {
        max-width: 500px;
        margin: auto;
        background: linear-gradient(135deg, #898088 0%, #e7e2e1 100%);
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    }

    input[type="text"],
    input[type="datetime-local"],
    textarea {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

    textarea {
            resize: none;
            height: 90px;
        }
    
    button {
            width: 100%;
            margin-top: 25px;
            padding: 12px;
            border: none;
            border-radius: 8px;
            background: #66aaea;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

    button:hover {
            background: #a24b6c;
        }


</style>
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Create Post</h2>

    <form method="post">
        {% csrf_token %}
        <label>Title</label>
        <input type="text" name="title" required>

        <label>Description</label>
        <textarea name="description"></textarea>

        <button type="submit">Create Post</button>
    </form>
</div>
{% endblock %}
