{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Latest Blog Posts</h2>

<div class="posts">
    {% for post in post_list %}
        <div class="post-card">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <div class="post-footer">
                By <strong>
                    {{ post.created_by.get_full_name|default:post.created_by.username }}
                </strong>
                | {{ post.created_at|date:"M d, Y • H:i" }}
            </div>
            <button>view</button>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</div>
{% endblock %}
